.majorDisplay {
    background-image: url(Images/WallpaperBanner.png);
    color: white;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    width: auto;
    height: 500px;
    display: flex;
    border-bottom: solid black 10px;
}

.textholder {
    text-align: center;
    display: flex;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
}

.testSection {
    height: 400px;
    background-image: linear-gradient(45deg, #69b4e6, #e2e62a);
}

.aboutMeText {
    font-family: 'Sixtyfour', sans-serif;
    font-size: 16px;
}

.stail {
    width: 75px;
    height: 75px;
}

.iconoir-cube::before {
    margin-top: 3px;
    margin-bottom: -7px;
}

header {
    background-color: gray;
    font-size: 50px;
}

h2 {
    text-align: center;
    font-family: 'Honk', system-ui;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: -4px;
}

h1 {
    font-size: 100px;
    background-image: linear-gradient(45deg, #69b4e6, #e2e62a);
    background-size: 100%;
    background-clip: text;
    color: transparent;
}