header {
    background-image: url(testing-Images/testbackground.jpg);
    height: 800px;
    background-size: cover;
}

.container {
    display: flex;
    height: 800px;
}

.sub-container {
    margin-top: auto;
    margin-bottom: auto;
    flex: 45%;
    margin-left: 5px;
    margin-right: 5px;
}

.sub-container.introtext {
    background-color: rgba(34, 194, 194, 0.3);
}

.zenithBounce {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.RAGE {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#introtext {
    font-family: 'Orbitron', sans-serif;
    color: aliceblue;
}