body {
    color: #eceff4;
    background-color: #2e3440;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    text-align: center;
}

.heading {
    height: 500px;
    margin-top: -8px;
    background-image: url('/Images/Backgrounds/codeBackground.png');
    display: flex;
}

.mainTitle {
    text-align: center;
    background-color: rgba(0, 0, 0, 30%);
    font-size: 50px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: -25px;
    padding-bottom: -25px;
}

.website-descrip {
    margin-top: 10px;
    background-color: #3b4252;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 2px;
}

.gallery-section {
    display: flex;
    background-color: #434c5e;
    align-content: center;
    padding-top: 15px;
}

.fav-title {
    text-align: center;
}

.fav-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}

.fav-Dungeon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.third-div {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    flex: 33%;
    background-color: #4c566a;
    padding-top: 5px;
    border-radius: 15px;
    border-color: #eceff4;
    border-style: solid;
}